.jumbotron{
	background:#232323;
	color:white;
	text-align: center;
	margin-bottom:20px;
}

body{
	background:#f4f7f9;
}

.ui .card{
	margin:auto 20px;
}

.ui .grid{
	align-self: center;
}

#special{
	display:none;
}
